body {
    background-image: url("autobot_reg.png");
    background-color: rgba(168, 156, 156, 0.452);

}

h1 {
    color:rgb(14, 12, 12);
    font-size:100px;
}
h3 {
    color:rgb(8, 8, 8);
    font-size:100px;
}


#nav {
    font-size:30px;
    background-color:gray;
    display: flex;
    justify-content: space-evenly;
}

.center {
    text-align: center;
}

.large {
    font-size: 50px;
    
}

